page-home {

}

.login_view {
        background: url("/assets/imgs/background_login.png") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }